<div class="page-width relative" id="apps">
  <div class="row">
    <div class="sp-40 show-md"></div>
    
    {% if section.settings.showtitle %}  
    <div class="col-xs-12 center-xs ani seq">
      <h2 class="featured-collection__title">{{ section.settings.title | escape }}</h2>
      <div class="sp-30"></div>
      <div class="sp-20 show-sm"></div>
    </div>
    {% endif %}

    {% for product in collections[section.settings.collection].products limit: 10 %}
    {%- assign colour = product.metafields["global"]["Colour"] -%}
    {%- assign my_description = product.description | split: '</h4>' -%}
    {%- assign short_ttl = product.title | split: ' ' -%}
      <div class="col-xs-12 col-md-6 pad-xs-0 pad-sm-20">
          <div class="sp-30 hide-sm"></div>
            <div class="lightgrey pad-xs-35 pad-sm-60 rounded-xl ani seq">
                <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
                <div class="montserrat appcontainer">
                    <span class="rounded app-icon" style="background:#333060;background: {{ colour }}"><img src="{{ 'app-icon.svg' | asset_url }}" /></span><span class="app-title">{{ short_ttl[0] }}&nbsp;{{ short_ttl[1] }}<span style="color:#333060;color: {{ colour }}">&nbsp;{{ short_ttl[2] }}&nbsp;{{ short_ttl[3] }}&nbsp;{{ short_ttl[4] }}&nbsp;{{ short_ttl[5] }}</span></span>
                  </div>
                </a>
                <div class="sp-30"></div>
                <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}">
                  <h3>{{ my_description[0] | strip_html }}</h3>
                </a>
                <p class="med">{{ my_description[1] | strip_html | truncate: 95 }}</p>
                <div class="sp-15"></div>
                <div class="sp-25 show-sm"></div>
                <a href="{{ product.url | within: collection }}" title="{{ product.title | escape }}"><button class="navy">Find out more</button></a>
            </div>
          </a>
      </div>
    {% endfor %}

    <div class="sp-40 show-md"></div>
  </div>
</div>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "type": "checkbox",
        "id": "showtitle",
        "label": "Show Title",
        "default": false
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}