{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}


<div id="mobilemenu" class="navy white-text pad-xs-40">
  <div class="row">
    <div class="col-xs-12">
        <ul class="nav">
          {% for link in linklists[section.settings.mobilemenu].links %}
            {% if link.links != blank %}
              <li>
                <a href="{{ link.url }}">
                  {{ link.title }}
                  {% include 'icon-arrow-down' %}
                </a>
                <ul>
                  {% for childlink in link.links %}
                    <li class="{% if link.active %}current{% endif %}">
                      <a href="{{ childlink.url }}">
                        {{ childlink.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li class="{% if link.active %}current{% endif %}">
                <a href="{{ link.url }}">
                  {{ link.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
        {%- if section.settings.show_button -%}
          <ul class="hide-sm">
            <div class="sp-40"></div>
            <li class="cta">
              <a href="{{ section.settings.button_link }}" target="_blank"><button class="nohover blue full" href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</button></a>
            </li>
          </ul>
        {%- endif -%}
        
    </div>
  </div>
</div> 

<section data-section-id="{{ section.id }}" data-section-type="header">

    <!-- CART SEARCH LOGIN 
    <a href="/cart">
      {% include 'icon-cart' %}
      {{ 'layout.cart.title' | t }}
      ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})
    </a>

    {% if shop.customer_accounts_enabled %}
      <ul>
        {% if customer %}
          <li>
            {% if customer.first_name != blank %}
              {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
              {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
            {% else %}
              <a href="/account">{{ 'layout.customer.account' | t }}</a>
            {% endif %}
          </li>
          <li>
            {{ 'layout.customer.log_out' | t | customer_logout_link }}
          </li>
        {% else %}
          <li>
            {{ 'layout.customer.log_in' | t | customer_login_link }}
          </li>
          <li>
            {{ 'layout.customer.create_account' | t | customer_register_link }}
          </li>
        {% endif %}
      </ul>
    {% endif %}

    <form action="/search" method="get" role="search">
      <label for="Search-{{ section.id }}" class="label-hidden">
        {{ 'general.search.placeholder' | t }}
      </label>

      <input type="search"
        name="q"
        id="Search-{{ section.id }}"
        value="{{ search.terms | escape }}"
        placeholder="{{ 'general.search.placeholder' | t }}">

      <button type="submit" class="button">
        {% include 'icon-search' %}
        <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
      </button>
    </form>-->

  {%- if section.settings.announcement_bar_enabled -%}
   
      {%- if section.settings.announcement_bar_home_page_only == false or template.name == 'index' -%}
        {%- if section.settings.announcement_bar_link != blank -%}
          <div class="row navy pad-xs-10 white-text center-xs">
            <div class="col-xs-12">
              <a href="{{ section.settings.announcement_bar_link }}">
                <h5>{{ section.settings.announcement_bar_text | escape }}</h5>
              </a>
            </div>
          </div>
        {%- else -%}
         <div class="row navy pad-xs-10 white-text center-xs">
            <div class="col-xs-12">
              <h5>{{ section.settings.announcement_bar_text | escape }}</h5>
            </div>
          </div>
        {%- endif -%}
      {%- endif -%}
    
  {%- endif -%}

  <div class="header-wrapper blue relative overflow white-text">

    <div class="appshapeholderone"><div class="transparent whiteshadow appshape one"></div></div>
    <div class="appshapeholdertwo"><div class="white-gradient appshape two"></div></div>
  
  <header class="site-header whiteborderbottom">
    <div class="page-width pad-xs-0 pad-sm-20 pad-left-right">
        <div class="header row middle-xs between-xs">
          
          <div class="pad-xs-15 pad-sm-20 start-xs">
            <div class="row">

              <div class="col ani seq">

                  {% if template.name == 'index' %}
                    <h1>
                  {% else %}
                    <div class="h1">
                  {% endif %}
                    <a href="/" class="logo-image">
                      <img class="site-header__logo-image" src="{{ 'logo-dark.svg' | asset_url }}" />

                        {% comment %}
                        {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
                         <img src="{{ section.settings.logo | img_url: image_size }}"
                            srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                            alt="{{ section.settings.logo.alt | default: shop.name }}">-->
                        {% else %}
                          {{ shop.name }}
                        {% endif %}
                        {% endcomment %}

                    </a>
                  {% if template == 'index' %}
                    </h1>
                  {% else %}
                    </div>
                  {% endif %}
              </div>

              {%- if section.settings.show_shopify_logo -%}
                
                <div class="col middle-xs pad-xs-20 pad-left-right show-lg ani seq" >
                  <div class="row middle-xs fullheight">
                  <h4 class="no-margin-bottom">+</h4>
                  </div>
                </div>

                <div class="col show-lg ani seq">
                    <span class="site-header__logo-link">
                      <img class="site-header__logo-image" src="{{ 'logo-shopify.svg' | asset_url }}" />
                    </span>
                </div>
              {%- endif -%}

            </div>
          </div>

          <div class="end-xs">
            <nav role="navigation">

             <ul class="site-nav show-md" role="navigation" aria-label="Primary">
               {% for link in linklists[section.settings.menu].links %}
                  {% if link.links != blank %}
                    <li class="{% if link.active %}current{% endif %} ani seq">
                      <a href="{{ link.url }}">
                        {{ link.title }}
                        {% include 'icon-arrow-down' %}
                      </a>
                      <ul>
                        {% for childlink in link.links %}
                          <li>
                            <a href="{{ childlink.url }}">
                              {{ childlink.title }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li class="{% if link.active %}current{% endif %} ani seq">
                      <a href="{{ link.url }}">
                        {{ link.title }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>

              {%- if section.settings.show_button -%}
                <ul class="show-sm">
                  <li class="cta ani seq">
                    <a href="{{ section.settings.button_link }}" target="_blank"><button class="navy forty" href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</button></a>
                  </li>
                </ul>
              {%- endif -%}
             
              <ul class="hide-md">
               <li class="mobile-menu ani seq">
                  <button type="button" class="hamburger" id="hamburger" aria-controls="NavDrawer">
                    <span>
                      <span><span></span></span>
                      <span></span>
                      <span><span></span></span>
                    </span>
                  </button>
                </li>
              </ul>

            </nav>
          </div>

        </div>
      </div>
  </header>

  <div class="page-width">
      <div class="row middle-xs center-xs">
        <div class="col-xs-12 col-md-8 ani">
          <div class="sp-60"></div>
          <div class="sp-20 show-sm"></div>
            {% if template.name == 'index' %}
              <h1>{{ section.settings.hero_message }}</h1>
                <div class="sp-60"></div>
                <div class="show-sm">
                  <div class="lightblue inline rounded dropshadow pad-xs-10">
                    <h5 class="pad-xs-20 pad-left-right">{{ section.settings.hero_subline }}</h5>
                  </div>
                  <div class="sp-60"></div>
                </div>
                <div class="sp-40"></div>
              {% else %}
                <h1>
                  {{ page_title }}
                </h1>
                <div class="sp-60"></div>
                <div class="sp-20 show-sm"></div>
              {% endif %}
        </div>
      </div>
    </div>

</section>


{% if section.settings.logo != blank %}
  <style>
    .logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Navigation"
      },
      {
        "type": "checkbox",
        "id": "show_shopify_logo",
        "label": "Show Shopify logo",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_button",
        "label": "Show button in navigation",
        "default": true
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "text",
        "id": "button_link",
        "label": "Button Link"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_enabled",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "announcement_bar_home_page_only",
        "label": "Show on home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_bar_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_bar_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "header",
        "content": "Header"
      },
      {
        "type": "text",
        "id": "hero_message",
        "label": "Hero Message"
      },
      {
        "type": "text",
        "id": "hero_subline",
        "label": "Hero Subline"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "mobilemenu",
        "label": "Mobile Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
